/* font-family: 'Jost', sans-serif;
font-family: 'Playfair Display', serif;  */
@import url(@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600&display=swap'););
body{

}
header{
     width: 75%;
     /* border: 1px solid; */
     margin: auto;
}
.banner-section{
     width: 100%;
     display: flex;
     background: black;
     border-radius: 30px;
}
.banner-heading{
     width: 50%;
     padding: 50px;

}
.banner-heading h1{
     color: #fff;
     font-size: 50px;
     margin: 0px;
     font-family: 'Playfair Display', serif;
     font-weight: 600;
} 
.banner-heading p{
     color: #fff;
     font-size: 16px;
     margin-bottom: 40px;
     display: inline-block;
     margin-top: 25px;
}
.banner-heading a{
     color: #fff;
     text-decoration: none;
     background: red;
     padding: 10px 15px;
     border-radius: 8px;
     font-size: 20px;
     display: inline-block;
     transition-duration: 1s;
}
.banner-heading a:hover{
     background: #ddd;
     color: #000;
     transform: rotate(360deg);
     
}
.banner-heading a i{
     color: #fff;
     font-weight: 200;
     padding-left: 3px;
}
.banner-img{
     width: 50%;
}
.banner-img img{
     width: 350px;
     height: 470px;
     /* width: 100%; */
     /* height: 100%; */
     /* box-sizing: border-box; */
     
}

.container{
     width: 75%;
     margin: auto;
     /* border: 1px solid; */
     margin-top: 50px;
     display: flex;
}
/* ...............
aside section start 
................. */
aside{
     width: 25%;
     height: 312px;
     background-color: #000;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: space-evenly;
     border-radius: 10px;
}
aside a{
     text-decoration: none;
     /* padding: 15px 25px;
     background: #fff; */
     display: flex;
     justify-content: center;
     color: #000;
     padding-top: 15px;
     font-size: 20px;
     font-family: 'Jost', sans-serif;
     transition-duration: 3s;
     
}
aside a:hover{
     background: tomato;
     color: black;
     padding-bottom: 12px;
     font-size: 16px;
     border-radius: 10px;
     width: 100%;
     transform: rotate(360deg);
     
}
.upcoming-match{
     width: 150px;
     height: 60px;
     background: #fff;
     border-radius: 8px;
}


.all-group{
     width: 150px;
     height: 60px;
     background: #fff;
     border-radius: 8px;
}
.blog{
     width: 150px;
     height: 50px;
     background: red;
     border-radius: 8px;
     color: #fff;
}
.aside .blog a{
     width: 150px;
     height: 50px;
     background: red;
     border-radius: 8px;
     color: #fff;
     
}
/* aside section end  */

.thumbnail-section{
     width: 75%;
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     grid-gap:15px;
     margin-left: 10px;
    
}
.thumbnail-style{
     border: 1px solid #ccc;
     box-shadow: 2px 2px 5px #ccc;
}
.thumbnail>img{
     width: 100%;
}
.button{
     padding-top: 15px;
     padding-left: 10px;
     
}
.description{
     padding-left: 10px;
}
.timer-section{
     display: flex;
     padding-left: 10px;
}
.icon-and-time{
     display: flex;
     align-items: center;
}
.comment-icon{
     padding-left: 30px;
}

footer{
     width: 100%;
     margin: auto;
    
}
.footer-section{
     background: #000;
     border: 1px solid;
     margin-top: 30px;
}
.footer-section h1{
     font-size: 50px;
     text-align: center;
     color: #fff;
}
hr{
     border: 1px solid #fff;
     width: 60%;
     margin: auto;
}
.services{

}
.services ul{
     display: flex;
     justify-content: center;
     gap: 20px;
}
.services ul li{
     list-style: none;
}
.services ul li a{
     color: #B9B9B9;
     text-decoration: none;
     font-size: 20px;

}
.contact{

}
.contact ul{
     display: flex;
     justify-content: center;
     gap: 20px;
}
.contact ul li{
     list-style: none;
}
.contact ul li a{
     text-decoration: none;
}
.contact ul li a i{
     color: #ccc;

}

/* Fixtures style  */
.flag-style{
     display: flex;
     align-items: center
}
.germany-flag img{
     height: 56px;
     margin: 0px;
}
.france-flag img{
     height: 56px;
     margin: 0px;
}

.fixtures-section{
     display: flex;
     flex-direction: column;
     align-items: center;
     border: 1px solid #aaa;
     border-radius: 10px;
     padding: 15px;
     box-shadow: 1px 1px px 1px;
     /* width: 32.33%; */
}
.team-fixtures{
     width: 100%;
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     grid-gap: 15px;
     margin-left: 15px;

}

/* Responsive area  */

@media only screen and (max-width:600px) {
     .banner-section {
          flex-direction: column-reverse;
          width: 100%;
     }
     .banner-heading{
          margin: auto;
     }
     .banner-heading a{
          font-size: 16px;
     }
     .banner-heading h1{
          font-size: 30px;
     }
     .banner-img img{
          /* width: 250px; */
          height: 300px;
     }
     .container{
          flex-direction: column;
     
     }
     aside{
          width: 100%;
          margin: auto;
          background: #aaa;
     }

     .thumbnail-section{
          grid-template-columns: repeat(1, 1fr);
          width:100%;
          margin: auto;
     }
     .services ul{
          flex-direction: column;
          align-items: center
     }
     .team-fixtures{
          grid-template-columns: repeat(1, 1fr);
     }
     .flag-style{

     }

}

@media only screen and (min-width: 600px) {
     .banner-section {
          flex-direction: column-reverse;
          margin: auto;
     }
     .banner-heading{
          width: 80%;
          margin: auto;
     
     }
     
     .banner-heading a{
          font-size: 25px;
          padding: 10px;
     }
     .banner-heading h1{
          font-size: 30px;
          padding: 10px;
     }
     .banner-img{
          width: 100%;
     }
     .banner-img img{
          /* width: 250px; */
          height: 300px;
     }
     .container{
          flex-direction: column;
     
     }
     aside{
          width: 100%;
          margin: auto;
          flex-direction: row;
     }

     .thumbnail-section{
          grid-template-columns: repeat(2, 1fr);
          width:100%;
          margin: auto;
     }
     .services ul{
          flex-direction: column;
          align-items: center
     }
     .team-fixtures{
          grid-template-columns: repeat(2, 1fr);
     }
}

@media only screen and (min-width: 992px) {
     .banner-section {
          flex-direction: row;
          width: 100%;
     }
     .banner-heading{
          /* margin: auto; */
     }
     .banner-heading a{
          font-size: 20px;
     }
     .banner-heading h1{
          font-size: 50px;
     }
     .banner-img{
          width: 50%;
     }
     .banner-img img{
          /* width: 100%; */
          height: 100%;
     }
     .container{
          flex-direction: row;
     
     }
     aside{
          width:25%;
          flex-direction: column;
          margin-top: 0px;
     }

     .thumbnail-section{
          grid-template-columns: repeat(3, 1fr);
          width:75%;
          margin-left: 10px;
     }
     .services ul{
          flex-direction: row;
          align-items: center
     }
     .team-fixtures{
          grid-template-columns: repeat(3, 1fr);
     }
}
